<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Donation Dashboard</title>
    <link rel="stylesheet" href="/style-dashboard.css">
</head>
<body>

    <!-- Header Section with Company Logo -->
    <header>
      <div id="logo-container">
          <img src="images/lifespring-blood-bank-favicon-color (1).png" alt="Company Logo" id="company-logo">
      </div>
      <div id="logout-container">
          <form action="/logout" method="GET">
              <button type="submit" id="logout-button">Logout</button>
          </form>
      </div>
  </header>
    <!-- User Details Section -->
    <section id="user-details">
        <h2>User Details</h2>
        <p><strong>Name:</strong> John Doe</p>
        <p><strong>Last Transfusion/Donation Date:</strong> September 15, 2024</p>
    </section>

    <!-- Actions Section with Buttons -->
    <section id="actions">
        <h2>Actions</h2>
        <div>
            <form action="/main/donation" method="get">
                <button type="submit" >Make a Blood Donation</button>
            </form>
            <form action="/main/bloodrequest" method="get">
                <button type="submit">Blood Request</button>
            </form>
        </div>
    </section>

</body>
</html>
